{% extends 'genesis_product.html' %}


{% load static %}
{% block title %}{{product.name}}{% endblock %}
{% block body %}
<div class="frame">
  <h1 class="frame__title">{{product.name1}}</h1>
  <nav class="frame__links">    <a href="{% url 'GENESIS:store' %}">Continue Shopping</a><a href="{% url 'GENESIS:cart' %}" data-product={{product.id}} data-action="add">Add to Cart</a>
  </nav>
</div>
<div class="content">
  <div class="trail" style="background-image:url({{product.imageURL1}});"></div>
</div>
{% endblock %}
