{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    <base href="{% static 'jay-cast/' %}">
    <title>Jay Cast</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" type="image/png" href="{% static 'jay-cast/images/heart.png' %}" />
</head>

<body class="is-preload">

    <div id="wrapper">

        <!-- Main -->
        <section id="main">

            <!-- Items -->
            <div class="items">

                <div class="item intro span-2" style="background-color: #000000;">
                    <h1>Mousy ❤ </h1>
                    <p style="color: white;">Aquí hay una colección de algunas de mis imágenes favoritas de usted.<br> ¡Y por qué me gustas en una palabra! </p>
                </div>
                <article class="item thumb span-1">
                    <h2>Inteligente</h2>
                    <a href="images/fulls/01.jpg" class="image"><img src="images/thumbs/01.jpg" alt="Want"></a>
                </article>

                <article class="item thumb span-2">
                    <h2>Diferente</h2>
                    <a href="images/fulls/02.jpg" class="image"><img src="images/thumbs/02.jpg" alt="to"></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Valiente</h2>
                    <a href="images/fulls/03.jpg" class="image"><img src="images/thumbs/03.jpg" alt="know"></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Mexicano</h2>
                    <a href="images/fulls/04.jpg" class="image"><img src="images/thumbs/04.jpg" alt="a"></a>
                </article>

                <article class="item thumb span-3">
                    <h2>Hermosa</h2>
                    <a href="images/fulls/05.jpg" class="image"><img src="images/thumbs/05.jpg" alt="secret"></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Divertido</h2>
                    <a href="images/fulls/06.jpg" class="image"><img src="images/thumbs/06.jpg" alt="Mousy"></a>
                </article>

                <article class="item thumb span-2">
                    <h2>Sin Arrepentimiento</h2>
                    <a href="images/fulls/07.jpg" class="image"><img src="images/thumbs/07.jpg" alt="?"></a>
                </article>

                <article class="item thumb span-2">
                    <h2>Gángster</h2>
                    <a href="images/fulls/08.jpg" class="image"><img src="images/thumbs/08.jpg" alt="..."></a>
                </article>

            </div>

            <!-- Items -->
            <div class="items">

                <article class="item thumb span-1">
                    <h2>intrigante</h2><a href="images/fulls/111.png" class="image"><img src="images/thumbs/111.png" alt="I've"></a>
                </article>
                <article class="item thumb span-2">
                    <h2>Mamacita</h2><a href="images/fulls/112.png" class="image"><img src="images/thumbs/112.png" alt="loved"></a>
                </article>

                <article class="item thumb span-3">
                    <h2>Elegante</h2><a href="images/fulls/113.png" class="image"><img src="images/thumbs/113.png" alt="you"></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Imagen Perfecta</h2><a href="images/fulls/114.png" class="image"><img src="images/thumbs/114.png" alt="since"></a>
                </article>

                <article class="item thumb span-3">
                    <h2>Algo Sobre Ti</h2><a href="images/fulls/115.png" class="image"><img src="images/thumbs/115.png" alt="the"></a>
                </article>

                <article class="item thumb span-1">
                    <h2>Hace que mi corazón se salte un latido</h2><a href="images/fulls/117.png" class="image"><img src="images/thumbs/117.png" alt="moment"></a>
                </article>

                <article class="item thumb span-3">
                    <h2>Nunca conocí a nadie como tú</h2><a href="images/fulls/116.png" class="image"><img src="images/thumbs/116.png" alt="we"></a>
                </article>

                <article class="item thumb span-2">
                    <h2>Sé que nos volveremos a ver.</h2><a href="images/fulls/118.png" class="image"><img src="images/thumbs/118.png" alt="met!"></a>
                </article>
            </div>

        </section>

        <!-- Footer -->
        <section id="footer">
            <section>
                <p style="color: #000000"><strong> </strong></p>
            </section>
            <section>
                <ul class="copyright">
                    <li>&copy; 🌿🌼🌿🌼🌿🌼🌿</li>
                    <li>diseño: <a href="https://www.mufudzichristopher.com" style="color: #cd0000">Mufudzi Christopher</a></li>
                </ul>
            </section>
        </section>
        

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>
