{% load static %}
        <header class="bp-header ">

            <br>

            <span>

                <div class="main">
                    <a><img id="axis_spinner" src="{% static 'images/III-light.gif' %}" height="60" /></a> rdAxis<br><br>
                </div>


            </span>
    <hr>        <br>

            <nav>
                <a href="{% url 'home:home' %}" title="Online Portfolio">
                  <ion-icon src="{% static 'ion-icons/home-outline.svg' %}" size="small"></ion-icon><br>Home
                </a>

                <a href="{% url 'Axis:store' %}" title="Online Store">
                    <ion-icon src="{% static 'ion-icons/storefront-outline.svg' %}" size="large"></ion-icon><br>Shop
                </a>

                {% if user.is_authenticated %}
                {% if cartItems %}

                <a href="{% url 'Axis:cart' %}" title="Cart" data-info="">
                    <ion-icon src="{% static 'ion-icons/cart-sharp.svg' %}" class="cart__icon" size="large"></ion-icon><br>Cart
                    <span class="cart__count">{{cartItems}}</span>
                </a>

                {% else %}

                <a href="{% url 'Axis:cart' %}" title="Cart" data-info="">
                    <ion-icon src="{% static 'ion-icons/cart-outline.svg' %}" size="large"></ion-icon><br>Cart
                </a>
                {% endif %}
                <a href="{% url 'account:profile' %}" title="My  Profile">
                    <ion-icon src="{% static 'ion-icons/person-outline.svg' %}" size="large"></ion-icon>Profile
                </a>
                <a href="{% url 'account:logout' %}" title="Log Out">
                    <ion-icon src="{% static 'ion-icons/log-out-outline.svg' %}" size="large"></ion-icon>Logout
                </a>
                {% else %}


                <a href="{% url 'account:login' %}" title="Cart" data-info="">
                    <ion-icon src="{% static 'ion-icons/cart-outline.svg' %}" size="large"></ion-icon><br>Cart
                </a>
                <a href="{% url 'account:register' %}" title="Create Account">
                    <ion-icon src="{% static 'ion-icons/person-add-outline.svg' %}" size="large"></ion-icon>Register
                </a>
                <a href="{% url 'account:login' %}" title="Log in">
                    <ion-icon src="{% static 'ion-icons/log-in-outline.svg' %}" size="large"></ion-icon><br>Log in
                </a>
                {% endif %}
                <a href="{% url 'Axis:contact' %}" title="Contact">
                    <ion-icon src="{% static 'ion-icons/mail-outline.svg' %}" size="large"></ion-icon>Contact
                </a>
                <a href="{% url 'Axis:about' %}" title="About Us">
                    <ion-icon src="{% static 'ion-icons/information-circle-outline.svg' %}" size="large"></ion-icon>About
                </a>
                {% if user.is_Staff or user.is_superuser %}
                <a href="{% url 'Axis:dashboard' %}" target="_blank" title="Management Studio">
                    <ion-icon src="{% static 'ion-icons/options-outline.svg' %}" size="large"></ion-icon>Studio
                </a>
                            {% endif %}
                <!-- <a onclick="lightMode()">
                    <ion-icon size="small" title="Light Mode" name="sunny-outline"></ion-icon><br>Light
                </a> -->
                {% if user.is_authenticated %}
                <h6>Logged in as: {{user.username}}</h6>
                {% endif %}
                <hr>
								<br>
								</nav>
