{% load static %}


		<nav id="menu" class="nav ">
			<header class="navigator">

							<span>
								<p><img id="EXODUS_spinner" src="{% static 'images/III-light.gif' %}" height="60" /> rdEXODUS</p>
							</span>

							{% if user.is_authenticated %}
							<h6>Logged in as: {{user.username}}</h6>
							{% endif %}
							{% if cart.hasItems %}
							<h6>Items in cart: {{cart.count}}</h6>
							<h6>Total: {{cart.total}}</h6>
							{% endif %}
						</header>
			<ul class="hide">
				<li>
						<a href="{% url 'EXODUS:store' %}" title="Online Portfolio">
										<ion-icon class="icon"  aria-hidden="true" src="{% static 'ion-icons/storefront-outline.svg' %}" size="large"></ion-icon>
									<br><br>
									Store
						</a>
				</li>

				{% if user.is_authenticated %}
					{% if cartItems %}
				<li>
						<a href="{% url 'EXODUS:cart' %}" title="Cart">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/cart-outline.svg' %}" size="large"></ion-icon>
									<br><br>
									Cart

													</a>
				</li>
				{% else %}
				<li>
						<a href="{% url 'EXODUS:cart' %}" title="Cart">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/cart-outline.svg' %}" size="large"></ion-icon><br><br>
									Cart

													</a>
				</li>
				{% endif %}
				<li>
						<a href="{% url 'account:profile' %}" title="Protfile">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/person-outline.svg' %}" size="large"></ion-icon><br><br>
										Profile

														</a>
				</li>
				<li>
						<a href="{% url 'account:logout' %}" title="Logout">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/log-out-outline.svg' %}" size="large"></ion-icon><br><br>
									Logout

													</a>
				</li>
				{% else %}
				<li>
						<a href="{% url 'account:login' %}" title="Login">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/log-in-outline.svg' %}" size="large"></ion-icon><br><br>
									Login

													</a>
				</li>
				<li>
						<a href="{% url 'account:register' %}" title="Register">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/person-add-outline.svg' %}" size="large"></ion-icon><br><br>
									Register

													</a>
				</li>
				<li>
						<a href="{% url 'account:login' %}" title="Login">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/log-in-outline.svg' %}" size="large"></ion-icon><br><br>
									Login

													</a>
				</li>
				{% endif %}
				<li>
						<a href="{% url 'EXODUS:contact' %}" title="Contact">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/mail-outline.svg' %}" size="large"></ion-icon><br><br>
										Contact

														</a>
				</li>
				<li>
						<a href="{% url 'EXODUS:about' %}" title="About">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/information-circle-outline.svg' %}" size="large"></ion-icon><br><br>
									About

														</a>
				</li>
				{% if user.is_superuser %}

				<li>
						<a href="{% url 'EXODUS:dashboard' %}" title="Dashboard">

									<ion-icon class="icon" aria-hidden="true" src="{% static 'ion-icons/options-outline.svg' %}" size="large"></ion-icon><br><br>
									Dashboard

													</a>
				</li>
				{% endif %}

			</ul>

		</nav>


		<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-component.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-default.css' %}">

  <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
	<script>
		//  The function to change the class
		var changeClass = function (r,className1,className2) {
			var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
			if( regex.test(r.className) ) {
				r.className = r.className.replace(regex,' '+className2+' ');
				}
				else{
				r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
				}
				return r.className;
		};

		//  Creating our button in JS for smaller screens
		var menuElements = document.getElementById('menu');
		menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

		//  Toggle the class on click to show / hide the menu
		document.getElementById('menutoggle').onclick = function() {
			changeClass(this, 'navtoogle active', 'navtoogle');
		}

		// http://tympanus.net/codrops/2013/05/08/responsive-retina-ready-menu/comment-page-2/#comment-438918
		document.onclick = function(e) {
			var mobileButton = document.getElementById('menutoggle'),
				buttonStyle =  mobileButton.currentStyle ? mobileButton.currentStyle.display : getComputedStyle(mobileButton, null).display;

			if(buttonStyle === 'block' && e.target !== mobileButton && new RegExp(' ' + 'active' + ' ').test(' ' + mobileButton.className + ' ')) {
				changeClass(mobileButton, 'navtoogle active', 'navtoogle');
			}
		}
	</script>
