{% load static %}


<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GENESIS</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Mufudzi Christopher">
	<link rel="shortcut icon" href="{% static 'images/brand.png' %}">
	<link rel="stylesheet" href="https://use.typekit.net/jyi8res.css">
	<link rel="stylesheet" type="text/css" href="{% static 'genesis/css/index.01b4f97a.css' %}">
	<script>
	document.documentElement.className = "js";
	var supportsCssVars = function() {
		var e, t = document.createElement("style");
		return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
	};
	supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
	<script type="text/javascript">
			var user = '{{request.user}}'

			function getToken(name) {
					var cookieValue = null;
					if (document.cookie && document.cookie !== '') {
							var cookies = document.cookie.split(';');
							for (var i = 0; i < cookies.length; i++) {
									var cookie = cookies[i].trim();
									// Does this cookie string begin with the name we want?
									if (cookie.substring(0, name.length + 1) === (name + '=')) {
											cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
											break;
									}
							}
					}
					return cookieValue;
			}
			var csrftoken = getToken('csrftoken')

			function getCookie(name) {
					// Split cookie string and get all individual name=value pairs in an array
					var cookieArr = document.cookie.split(";");

					// Loop through the array elements
					for (var i = 0; i < cookieArr.length; i++) {
							var cookiePair = cookieArr[i].split("=");

							/* Removing whitespace at the beginning of the cookie name
							and compare it with the given string */
							if (name == cookiePair[0].trim()) {
									// Decode the cookie value and return
									return decodeURIComponent(cookiePair[1]);
							}
					}

					// Return null if not found
					return null;
			}
			var cart = JSON.parse(getCookie('cart'))

			if (cart == undefined) {
					cart = {}
					console.log('Cart Created!', cart)
					document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
			}
			console.log('Cart:', cart)

	</script>
</head>

<body class="loading">
	{% include 'genesis_navbar.html' %}

	<main>
		<div class="grid grid--large">

			{% block body %}


			{% endblock body %}

		</div>
		{% block inner %}


		{% endblock inner %}

	</main>
	<script src="{% static 'genesis/js/cart.js' %}"></script>
	<script type="module" src="{% static 'genesis/js/index.e9a2d1b4.js' %}"></script>
	<script src="{% static 'genesis/js/index.b5e7c14d.js' %}" nomodule="" defer></script>

</body>

</html>
