{% load static %}


<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GENESIS</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Mufudzi Christopher">
	<link rel="icon shortcut" href="favicon.a64e97b2.ico">
	<link rel="stylesheet" href="https://use.typekit.net/jyi8res.css">
	<link rel="stylesheet" type="text/css" href="{% static 'genesis/css/index.01b4f97a.css' %}">
	<script>
	document.documentElement.className = "js";
	var supportsCssVars = function() {
		var e, t = document.createElement("style");
		return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
	};
	supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
</head>

<body class="loading">
	<main>
		<div class="grid grid--large">
			<div class="grid__cell grid__cell--padded grid__cell-c4-r2">
				<div class="frame">
					<h1 class="frame__title oh"><span class="oh__inner">G E N E S I S</span></h1>
					<nav class="frame__links">
						<a href="{% url 'home:home' %}" class="oh"><span class="oh__inner">Home</span></a> </nav>
						 <a href="" class="oh"><span class="oh__inner">About</span></a>
						 <a href="" class="oh"><span class="oh__inner">Contact</span></a>
						 {% if user.is_authenticated %}
						 <a href="{% url 'GENESIS:cart' %}" class="oh"><span class="oh__inner">Cart</span></a>
						 <a href="{% url 'account:logout' %}" class="oh"><span class="oh__inner">Logout</span></a>
						 {% else %}
						 <a href="{% url 'account:login' %}" class="oh"><span class="oh__inner">Login</span></a>
						 {% if user.is_admin %}
						 <a href="" class="oh"><span class="oh__inner">Studio</span></a>
						 {% endif %}
						 {% endif %}

				</div>
			</div>
			{% block body %}


			{% endblock body %}

		</div>
		{% block inner %}


		{% endblock inner %}

	</main>
	<script type="module" src="{% static 'genesis/js/index.e9a2d1b4.js' %}"></script>
	<script src="{% static 'genesis/js/index.b5e7c14d.js' %}" nomodule="" defer></script>
</body>

</html>
