{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mufudzi Christopher Online Portfolio</title>
    <meta name="description" content="Online Portfolio for Mufudzi Christopher Web Development Solutions" />
    <meta name="keywords" content="online portfolio showcasing what Mufudzi Christopher has to offer in a way that represents who he is and what he is capable of. I hope you have a pleasant experience." />
      <meta name="author" content="Mufudzi Christopher" />
    <link rel="shortcut icon" href="{% static 'images/brand.png' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/component.css' %}" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
  </head>
  <body>
    <!-- navigation -->
    <nav class="pages-nav">
      <div class="pages-nav__item">
        <a class="link link--page" href="#page-home">Home</a>
      </div>
      <div class="pages-nav__item">
        <a class="link link--page  " href="#page-3rd-Axis">3rd Axis</a>
      </div>
      <div class="pages-nav__item">
        <a class="link link--page  " href="#page-The-Collective">The Collective</a>
      </div>
      <div class="pages-nav__item">
        <a class="link link--page  " href="#page-Gallery">Dept. Gallery Store</a>
      </div>
      <div class="pages-nav__item">
        <a class="link link--page  " href="#page-GENESIS">GENESIS</a>
      </div>
      <div class="pages-nav__item">
        <a class="link link--page  " href="#page-RMC">RMC</a>
      </div>
      <div class="pages-nav__item pages-nav__item--small">
        <a class="link link--page link--faded  " href="#page-tgy">The Golden Years</a>
      </div>

      <div class="pages-nav__item pages-nav__item--small">
        <a class="link link--page link--faded" href="#page-Maxim-Kids">Maxim Kids</a>
      </div>
      <div class="pages-nav__item pages-nav__item--small">
        <a class="link link--page link--faded" href="#page-Hospitality-Pro-Recruitment">Hospitality Pro</a>
      </div>


    </nav>
    <!-- /navigation-->
    <!-- pages stack -->
    <div class="pages-stack">
      <!-- page -->
      <div class="page" id="page-home">
        <!-- Blueprint header -->
        <header class="bp-header cf">
          <span class="bp-header__present">Online Portfolio <span class="bp-tooltip bp-icon bp-icon--about" data-content="Online Portfolio for Mufudzi Christopher Web Development Solutions"></span>
          </span>
          <h1 class="bp-header__title">Mufudzi Christopher</h1>
          <p class="bp-header__desc">Freelance Web Developer and Website Designer </p>
            <div class=" pages-nav__item--social">
              <a class="link link--social link--faded" target="_blank" href="mailto://mufudzichristopher@outlook.com">
                <i class="fa fa-envelope"></i>
              </a>
              <a class="link link--social link--faded" target="_blank" href="https://linkedin.com/in/mufudzi-christopher-nhamoinesu">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="link link--social link--faded" target="_blank" href="https://github.com/MufudziChristopher">
                <i class="fa fa-github"></i>
              </a>
              <a class="link link--social link--faded" target="_blank" href="{% static 'MCN_Resume.pdf' %}">
                <i class="fa fa-file-pdf-o"></i>
              </a>
            </div>
        </header>
        <p> {% if messages %} {% for message in messages %}
        <div class="alert alert-warning alert-dismissable page" role="alert">
          <button class="close" data-dismiss="modal">
            <small>
              <sup>x</sup>
            </small>
          </button>
          {{ message }}
        </div> {% endfor %} {%  endif %} </p>
        <!-- services
    ================================================== -->
        <section id='services' class="s-services light-gray">
          <div class="row section-header" data-aos="fade-up">


            <!-- <h3 class="h4">Web Application Development</h3>
            <p> I learnt how to build web applications in Visual Studio. This was also my first opportunity to collaborate in a team on a real world systems development project. Using C#, ASP.NET MVC 4, css, bootsrap, javascript, and the kitchen sink we built a stunning web application that was responsive and user friendly. I am always in development mode because I employ an agile approach when working on projects and tasks. I plan to develop something new and exciting the world's never seen before. Watch this space. </p>

            <h3 class="h4">Website Design</h3>
            <p> I have a sweet tooth for style and presentation which makes me a unique asset when creativity is a requirement. I understand people and what they want out of a website, what attracts them to one and keeps them coming back. I am innovative and not afraid to experiment. All of these talents give me an almost super human ability to consistently deliver a sophisticated, hand-crafted solution guaranteed to make you smile. <br> -->


          </div>

        </section>
        <!-- end s-services -->
        <img class="poster" src="{% static 'images/brand.png' %}" alt="img06" />
      </div>
      <div class="page" id="page-Maxim-Kids">
        <header class="bp-header cf">
          <h1 class="bp-header__title">Maxim Boxing Promotion</h1>
          <p class="info">Non-profit organization that empowers underprivileged youth to reach their dreams in life through passion for sport <a href="https://maximkids.org" target="_blank">Maxim Kids</a>
          </p>
          <p class="info">
             </p>
        </header>
        <a target="_blank" href="https://maximkids.org"><img class="poster" src="{% static 'images/maximkids.png' %}" alt="img06" /></a>

      </div>
      <div class="page" id="page-Hospitality-Pro-Recruitment">
        <header class="bp-header cf">
          <h1 class="bp-header__title">Hospitality Pro Recruitment</h1>
          <p class="bp-header__desc">A Multidimensional Recruitment Agency <a target="_blank" href="https://hospitalitypro.africa">Hospitality Pro Recruitment</a>
          </p>
          <p class="info"> This is a redisgn of a static single page website. Ive chosen it as a feature on my portfolio to showcase the iterations this website has gone through. An how the client was satisfied each time. A simple tool, an online business card if you willfor users to easily sign up for or request Hospitality Pro's recruitment services. You can access the prevous build here. </p>
          <a href="https://hospitalitypro.africa/sandbox/old" target="_blank">Hospitality Pro Recruitment (Old)</a>
        </header>
      <a href="https://hospitalitypro.africa/sandbox/old" target="_blank">  <img class="poster" src="{% static 'images/hprologo.png' %}" alt="img06" /></a>
      </div>
      <!-- /page -->
      <div class="page" id="page-3rd-Axis">
        <header class="bp-header cf">
          <h1 class="bp-header__title">3rd Axis</h1>
          <p class="bp-header__desc">3D Printing Company based in Observatory, Cape Town <a href="{% url 'Axis:store' %}">3rd Axis</a>
          </p>
          <p class="info"></p>
        </header>
        <a href="{% url 'Axis:store' %}"><img class="poster" src="{% static 'images/III-light.gif' %}" alt="img06" /></a>
      </div>
      <div class="page" id="page-The-Collective">
        <header class="bp-header cf">
          <h1 class="bp-header__title">The Collective</h1>
          <p class="bp-header__desc">An Online Store showcasing limited edition designer goods. <a href="{% url 'Collective:store' %}"> The Collective</a>
          </p>
          <p class="info"></p>
        </header>
         <a href="{% url 'Collective:store' %}"> <img class="poster" src="{% static 'images/II-light.gif' %}" width="70" alt="img06" /></a>
      </div>
      <div class="page" id="page-Gallery">
        <header class="bp-header cf">
          <h1 class="bp-header__title">Dept.Gallery</h1>
          <p class="bp-header__desc">Concept Store for vintage clothing and affiliate links - <a target="" href="{% url 'RickJames:store' %}"> Dept. Gallery</a>
          </p>
          <p class="info"></p>
        </header>
         <a target="_blank" href="{% url 'RickJames:store' %}"><img class="poster" src="{% static 'marz/images/logo.png' %}" alt="img06" /></a>
      </div>
      <div class="page" id="page-tgy">
        <header class="bp-header cf">
          <h1 class="bp-header__title">The Golden Years</h1>
          <p class="bp-header__desc">
            <a href="https://thegoldenyears.com" target="_blank">The Golden Years</a>
          </p>
          </iframe>
        </header>
        <a href="https://thegoldenyears.com" target="_blank"><img class="poster" src="{% static 'images/tgylogo.png' %}" width="500" alt="img06" /></a>
      </div>

      <div class="page" id="page-GENESIS">
        <header class="bp-header cf">
          <h1 class="bp-header__title">GENESIS</h1>
          <p class="bp-header__desc">New and Exciting Concept Store
            <a href="#" target="_blank">Coming Soon!</a>
          </p>
          </iframe>
        </header>
        <!-- <a href="#" target="_blank"><img class="poster" src="{% static 'images/comingsoon.avif' %}" width="500" alt="img06" /></a> -->
    </div>
      <div class="page" id="page-idaca">
        <header class="bp-header cf">
          <h1 class="bp-header__title">IDA Cooper and Associates</h1>
          <p class="bp-header__desc">
              IDACA student support services is a small, highly professional and personalised organisation. We provide international students with all the assistance they need to locate themselves easily in Cape Town and at UCT as well as with on- going support and services throughout the semester abroad. The welfare of the students and professional service to our American partner universities and colleges is and always has been our mission.
            <a target="_blank" href="{% url 'Projects:IDACA' %}"> IDA Cooper & Associates</a>
          </p>
          <p class="info"></p>
        </header>
        <a target="_blank" href="{% url 'Projects:IDACA' %}"><img class="poster" src="{% static 'idaca/idacalogo.png' %}" alt="img06" /></a>
      </div>
      <div class="page" id="page-africanus">
        <header class="bp-header cf">
          <h1 class="bp-header__title">African Utility Suppliers</h1>
          <p class="bp-header__desc">
              Wholesale suppliers of electric tools and equipment including maintenance services.
            <a target="_blank" href="{% url 'Projects:africanus' %}"> African Utility Suppliers</a>
          </p>
          <p class="info"></p>
        </header>
        <a target="_blank" href="{% url 'Projects:africanus' %}"><img class="poster" src="{% static 'africanus/africanuslogo.png' %}" width="500" alt="img06" /><a>
      </div>

      <div class="page" id="page-RMC">
        <header class="bp-header cf">
          <h1 class="bp-header__title">Risk Mitigation Consultants</h1>
          <p class="bp-header__desc">
            <a target="_blank" href="{% url 'RMC:home' %}">Risk Mitigation Consultants (Demo)</a>
          </p>
          <p class="info">Understanding the Threat. Reducing the Risk.<br>
Risk Mitigation Consultants assess risk factors, analyse intelligence and implement safety and security measures for residential, retail, commercial and industrial assets. <a target="_blank" href="https://riskmitigation.co.za">Risk Mitigation Consultants (Live)</a></p>
        </header>
        <a target="_blank" href="{% url 'RMC:home' %}"><img class="poster" width=500 src="{% static 'RMC/images/favicon.jpg' %}" alt="img06" /></a>
      </div>
    </div>
    <!-- /pages-stack -->
    <button class="menu-button">
      <span>Menu</span>
    </button>
    <script type="module" src="{% static 'home/js/classie.js' %}"></script>
    <script type="module" src="{% static 'home/js/main.js' %}"></script>
  </body>
</html>
