{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Image Stack Intro Animation | Demo 2 | Codrops</title>
		<meta name="description" content="Some ideas for intro animations where an image stack moves to become a grid.">
		<meta name="keywords" content="css, javascript, gsap, animation, uidesign, inspiration, web design">
		<meta name="author" content="Codrops">
		<link rel="shortcut icon" href="favicon.26242483.ico">
		<link rel="stylesheet" href="https://use.typekit.net/lty4rfv.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.98fd6c19.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo2.06b37b5f.css' %}">
		<script>document.documentElement.className = "js";

var supportsCssVars = function supportsCssVars() {
  var e,
      t = document.createElement("style");
  return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
};

supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
		<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	</head>

	<body class="loading noscroll">

		<main data-scroll-container="">

			<div class="frame">
				<h1 class="frame__title"></h1>
				<div class="frame__demos">
					<a href="#" class="frame__demo"></a>
					<a href="#" class="frame__demo frame__demo--current"></a>
				</div>
        {% block nav %}{% endblock %}

				<div class="frame__links">

				</div>
			</div>

{% block body %}{% endblock body %}
		</main>
		<svg class="cursor" width="30" height="30" viewBox="0 0 30 30">
			<circle class="cursor__inner" cx="15" cy="15" r="7.5"></circle>
		</svg>
		<script src="{% static 'js/demo2.44794d1a.js' %}"></script>
	</body>
</html>
