{% load static %}
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Risk Mitigation Consultants</title>
	<meta name="description" content="Risk Mitigation Consultants assess risk factors, analyse intelligence and implement safety and security measures for residential, retail, commercial and industrial assets.">
	<meta name="keywords" content="observer plugin, gsap, scrolling, slideshow">
	<meta name="author" content="Mufudzi Christopher">
	<link rel="icon shortcut" href="{% static 'RMC/images/favicon.jpg' %}">
	<link rel="stylesheet" href="https://use.typekit.net/zns7sax.css">
	<link rel="stylesheet" type="text/css" href="{% static 'RMC/css/index.d73f7ad5.css' %}">
	<script>
	document.documentElement.className = "js";
	var supportsCssVars = function() {
		var e, t = document.createElement("style");
		return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
	};
	supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
	</script>
</head>

<body class="loading">
	<main>
		<div class="frame">
			<div class="frame__title">
				<a class="frame__title-prev" href="#top"><img class="risk" src="{% static 'RMC/images/favicon.jpg' %}" </a>
						<h1 class="frame__title-main">Risk Mitigation Consultants</h1> <a aria-label="Back to the article" class="frame__title-back" href="#"><span></span></a>
					 </div>
			<nav class="frame__nav">
				<button class="frame__nav-button unbutton">Risk Mitigation Consultants</button>
				<button class="frame__nav-button unbutton">Overview</button>
				<button class="frame__nav-button unbutton">Personal Protection</button>
				<button class="frame__nav-button unbutton">Asset Management</button>
				<button class="frame__nav-button unbutton">Technical Services</button>
				<button class="frame__nav-button unbutton">Maritime Services</button>
				<button class="frame__nav-button unbutton">Due Diligence</button>
				<button class="frame__nav-button unbutton">Global Services</button>
			</nav>
			<button class="frame__back unbutton"> <span data-splitting="">&larr; Go back</span> </button>
     </div>
     <div class="slides">
			<div class="slide">
				<div class="slide__inner">
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/banner1.jpg' %})"></div>
					</div>
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
                		<h2>Understanding the Threat. Reducing the Risk.</h2>
						<p>Risk Mitigation Consultants assess risk factors, analyse intelligence and implement safety and security measures for residential, retail, commercial and industrial assets.</p>
                    </div>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Overview</h2>
						<p>
						    Risk Mitigation Consultants (RMC) was born from a desire to create more than ‘just another risk company’. The four founding members have a shared vision based on the virtues of; respect, integrity, courage, honesty, loyalty and self-control. This is the foundation of RMC.
<br>
The core purpose of RMC is to analyse and mitigate risk. To protect you, your company and your community while also protecting (the lives and livelihoods) of our own. This doesn’t mean more cost to you, it means better cost control by us with a commitment to paying our thoroughly vetted and approved consultants a greater share than the industry ‘norm’ that it’s known for.
<br>
We invest in our people on the payroll so that they can invest in your safety with the peace of mind that comes with knowing their lives and livelihoods are protected too.
<br>
Our highly skilled leadership team has a combined 50+ years of safety and security experience.All are PSIRA graded, highly experienced in analysing and mitigating security risks, crime prevention, tactical response and fully trained in close protection techniques.
<br>
RMC is Level 4 BEE compliant.
						</p>					</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/side2.png' %}); background-size:contain; background-repeat: repeat"></div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Personal Protection</h2>
						<p></p><ul class="alt">
							<li>Close Protection</li>
							<li>Executive and Private Protection</li>
							<li>Secure Drivers</li>
						</ul></p>					</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/security.png' %})"></div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Asset Management</h2>
						<p></p><ul class="alt">
							<li>Cash Runs &amp; Banking</li>
							<li>Truck Escort &amp; Trace</li>
							<li>Vehicle Escort &amp; Recovery</li>
						</ul></p>					</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/imag04.png' %})"></div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Technical Services</h2>
						<p></p><ul class="alt">
							<li>CCTV, Alarms, Electric Fences</li>
							<li>Access Control</li>
							<li>Ground Control System</li>
							<li>Analytic Software - Wisdom Logica</li>
							<li>Online Data Security Management - <a href="https://irontree.co.za" target="_blank">IronTree</a></li>
						</ul></p>
						</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/image08.png' %})"></div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Maritime Services</h2>
						<p></p><ul class="alt">
							<li>Fisheries Protection at Sea</li>
							<li>International Ports Security</li>
							<li>Diving / Stowaway Protection Anti Tracking Sensors</li>
							<li>Cargo Integrity (Bonds)</li>
							<li>Anti Piracy</li>
						</ul></p>
						</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/image03.png' %})"></div>
					</div>
				</div>
			</div>
            <div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Due Diligence</h2>
						<p></p><ul class="alt">
							<li>Corporate Verification</li>
							<li>Personal Verification</li>
							<li>Background Checks</li>
							<li>Financial Checks</li>
						</ul></p>					</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/image10.png' %})"></div>
					</div>
				</div>
			</div>
            <div class="slide">
				<div class="slide__inner">
					<div class="slide__content">
						<div class="slide__content-img" style="background-image:url({% static 'RMC/images/favicon.jpg' %}); background-size:contain; background-repeat: no-repeat"></div>
						<h2>Global Services</h2>
						<p></p><ul class="alt">
							<li>International</li>
							<li>African&nbsp;</li>
							<li>National</li>
						</ul></p>					</div>
					<div class="slide__img">
						<div class="slide__img-inner" style="background-image:url({% static 'RMC/images/image07.png' %})"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="cursor"> <span class="cursor__text" data-splitting="">+ Discover more</span> </div>
	</main>
	<script type="module" src="{% static 'RMC/js/index.e9a2d1b4.js' %}"></script>
	<script src="{% static 'RMC/js/index.b5e7c14d.js' %}" nomodule="" defer></script>
</body>

</html>
