{% extends 'menu_base.html' %}


{% block body %}
<main class="account-auth-page">
  <section class="account-auth-card" aria-labelledby="reset-complete-title">
    <header>
      <span class="account-auth-card__icon"><ion-icon name="checkmark-circle-outline" aria-hidden="true"></ion-icon></span>
      <p class="account-auth-card__eyebrow">Password updated</p>
      <h1 id="reset-complete-title">You’re all set</h1>
      <p>Your password has been reset. You can now sign in with your new details.</p>
    </header>
    <a class="account-auth-card__primary" href="{% url 'account:login' %}?store={{ account_storefront.slug }}">Log in</a>
  </section>
</main>
{% endblock %}
