{% extends 'menu_base.html' %}


{% block body %}
<main class="account-auth-page">
  <section class="account-auth-card" aria-labelledby="reset-sent-title">
    <header>
      <span class="account-auth-card__icon"><ion-icon name="mail-unread-outline" aria-hidden="true"></ion-icon></span>
      <p class="account-auth-card__eyebrow">Check your inbox</p>
      <h1 id="reset-sent-title">Reset link sent</h1>
      <p>If that email address is registered, a password-reset link is on its way. Check spam or junk mail too.</p>
    </header>
    <a class="account-auth-card__primary" href="{% url 'account:login' %}?store={{ account_storefront.slug }}">Back to log in</a>
  </section>
</main>
{% endblock %}
