{% extends 'menu_base.html' %}

{% block body %}
<main class="account-auth-page">
  <section class="account-auth-card" aria-labelledby="password-changed-title">
    <header>
      <span class="account-auth-card__icon"><ion-icon name="checkmark-circle-outline" aria-hidden="true"></ion-icon></span>
      <p class="account-auth-card__eyebrow">Profile security</p>
      <h1 id="password-changed-title">Password updated</h1>
      <p>Your new password is active. Use it the next time you sign in.</p>
    </header>
    <a class="account-auth-card__primary" href="{% url 'account:profile' %}?store={{ account_storefront.slug }}">Return to profile</a>
  </section>
</main>
{% endblock %}
