{% extends 'menu_base.html' %}


{% load crispy_forms_tags %}

{% block body %}


<section class="account-registration-page">

<h2>Register</h2>
{% if storefront %}
<p>
  Creating an account for
  <a class="action--text" href="{{ storefront_url }}">{{ storefront.name }}</a>
</p>
{% endif %}
{% if messages %}
  {% for message in messages %}
  <p class="registration-message" style="color: #cd0000;">{{ message }}</p>
  {% endfor %}
{% endif %}
<form method="post" novalidate>
        {% csrf_token %}
        {% if storefront %}
        <input type="hidden" name="store" value="{{ storefront_slug }}">
        {% endif %}

        {% for field in form %}
          {% for error in field.errors %}
          <p class="registration-error" style="color: #cd0000;">{{ error }}</p>
          {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
        <p class="registration-error" style="color: #cd0000;">{{ error }}</p>
        {% endfor %}

      <div class="" data-validate="Username is required">
        <ion-icon size="small" name="mail-outline"></ion-icon><br>Email<br>

        <input type="text" style="border-radius: 5px; padding: 5px" name="email" id="id_email" autofocus placeholder="Email: ">
      </div>
      <br>
      <div >
        <ion-icon size="small" name="person-outline"></ion-icon><br>First Name<br>
      <input type="text"  style="border-radius: 5px; padding: 5px" name="first_name" placeholder="First name" maxlength="30" required id="id_first_name">
    </div>
        <br>

      <div>
        <ion-icon size="small" name="person-outline"></ion-icon><br>Last Name<br>
        <input type="text" style="border-radius: 5px; padding: 5px" name="last_name" placeholder="Last name" maxlength="30" required id="id_last_name">
      </div>
        <br>

        <div>
          <div>
      <ion-icon name="phone-portrait-outline" size="small"></ion-icon><br>Phone Number<br>
      <input type="text" style="border-radius: 5px; padding: 5px" name="phone" maxlength="200" required id="id_phone" placeholder="Phone Number:">
    </div>
          <br>

    <fieldset>
      <legend>Choose your mall access</legend>
      {% for value, label in form.access_package.field.choices %}
      <label><input type="radio" name="access_package" value="{{ value }}"{% if value == 'single' %} checked{% endif %}> {{ label }}</label><br>
      {% endfor %}
    </fieldset>
    <div id="store-choices">
      <p>For multi-store access, choose your stores:</p>
      {% for value, label in form.stores.field.choices %}
      <label><input type="checkbox" name="stores" value="{{ value }}"> {{ label }}</label><br>
      {% endfor %}
    </div>
    <br>

    <div>
<ion-icon size="small" name="lock-open-outline"></ion-icon><br>Password<br>
<input style="border-radius: 5px; padding: 5px"  type="password" name="password1" autocomplete="new-password" placeholder="Password:" required id="id_password1">
    </div>
          <br>

    <div>
<ion-icon size="small" name="lock-closed-outline"></ion-icon> <br>Confirm Password<br>
<input style="border-radius: 5px; padding: 5px"placeholder="Password Confirmation: " type="password" name="password2" autocomplete="new-password" required id="id_password2">


    </div>
          <br>

  <button class="action action--button-btn" type="submit" >Register</button>

</form>

<script>
  (function () {
    var choices = document.getElementById('store-choices');
    var update = function () {
      choices.hidden = document.querySelector('input[name="access_package"]:checked').value !== 'multi';
    };
    document.querySelectorAll('input[name="access_package"]').forEach(function (input) { input.addEventListener('change', update); });
    update();
  }());
</script>


</section>

{% endblock %}
